/*Body*/

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans";
  background: no-repeat center center fixed;
  background-color: black;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

h1,h2, h3, h4, h5, h6, p{
    color:ghostwhite
}

h1 {
  font-size: 56px;
  font-weight: 500;
}


h2 {
  font-size: 28px;
  font-weight: 500;
}

p{
    font-style: italic;
    font-size: 120%;
    line-height: 1.6;
}

/*Nav Bar*/

#menu {
    z-index: 1;
    background: transparent;
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: calc(100% - 320px); /* Full width */
    margin-top: 24px;
    margin-left: 160px;
    margin-right: 160px;
    display: block;
    transition: top 0.5s;
}

#menu ul{
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    float:left;
}

#menu li{
    display: inline;
}

#menu li a{
    display:inline-block;
    margin: 0px;
    padding: 10px;
    color:white;
}

#menu li a:hover {
    color:lightsteelblue;
    text-decoration: none;
  }

.nav_item {
    float: right;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 14px 32px 16px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 32px;
    font-size: 14px;
}

.nav_item a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav_item:hover a{
  color:lightsteelblue;
}

.contact {
    float: right;
    background-color:#4136C3;
    padding: 14px 32px 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 32px;
    font-size: 14px;
}

.contact a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.contact:hover {
    background-color:lightsteelblue;
    opacity: 0.8;
    transition: 0.5s;
}

.contact:hover a{
    color:black;
}

/*Header*/

header {
    text-align: center;
    color: #ffffff;
    padding: 137px 25px 213px;
}

header h1{
    font-size: 70px;
}

.check {
    background-color:#4136C3;
    padding: 14px 32px 16px;
    border-radius: 32px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.check a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 120%;
}

.check:hover {
    background-color:lightsteelblue;
    opacity: 0.8;
    transition: 0.5s;
}

.check:hover a{
    color:black;
}

.hollow {
  padding: 13px 32px 15px;
  background-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 16px;
  margin-right: 16px;
  border: 1px solid var(--White, #FFF);
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  border-radius: 32px;
  cursor: pointer;
  font-size: 14px;
}

.hollow a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 120%;
}

.hollow:hover {
  background-color:lightsteelblue;
  opacity: 0.8;
  transition: 0.5s;
}

.hollow:hover a{
  color:black;
}

.project_des {
  color: #ADADAD;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* width:732px; */
  margin-bottom: 48px;
}

/*before*/

.sub-title {
  color: #808080;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.proj-title {
  color: #E0E0E0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.chatbot {
  border-radius: 8px;
  border: 1px solid var(--Light-grey, #E1E1E1);
  background: linear-gradient(180deg, #E1E1E1 0%, #FFF 100%);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.link {
  color: #C2B7FF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-decoration-line: underline;
  }

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



/*Footer*/

footer {
  display: flex;
  width: 100vw;
  background: linear-gradient(19deg, #050505 25.5%, #141738 100%);
  padding: 72px 160px 82px;
  text-align: center;
}

.main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.items {
 padding: 20px;
}

.items i{
  font-size: 100px;
  padding: 20px 0px;
}

td {
  white-space: nowrap;
  padding-right: 100px;
}


